<div class="container">
  <div class="sidebar">
    <div class="brand">
      <span class="brand-name">sociality<span class="io">.io</span></span>
    </div>
    <div class="sidebar-body">
      <div class="sidebar-tabs">
        <div *ngFor="let item of brands">
          <div class="tab">
            <span class="tab-pointer"></span>
            <a href=""
              ><img src="{{ item.img }}" alt="{{ item.name }}" class="logos"
            /></a>
          </div>
        </div>
      </div>
      <div class="sidebar-menu">
        <mat-expansion-panel class="expansion-panel" hideToggle disabled>
          <mat-expansion-panel-header class="expansion-panel-header">
            <div class="expansion-panel-header-div">
              <div>
                <mat-panel-title>
                  <span class="iconContainer"
                    ><fa-icon [icon]="faBell"></fa-icon
                  ></span>
                  <span class="panel-titles">NOTIFICATIONS</span>
                </mat-panel-title>
              </div>
              <div>
                <span class="badge">29</span>
              </div>
            </div>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-accordion>
          <span *ngFor="let item of contents">
            <mat-expansion-panel
              class="expansion-panel"
              (opened)="item.openState = true"
              (closed)="item.openState = false"
              hideToggle
            >
              <mat-expansion-panel-header class="expansion-panel-header">
                <div class="expansion-panel-header-div">
                  <div>
                    <mat-panel-title class="panel-titles">
                      <span class="iconContainer"
                        ><fa-icon [icon]="item.icon"></fa-icon
                      ></span>
                      {{ item.name }}
                    </mat-panel-title>
                  </div>
                  <div>
                    <mat-icon>{{ item.openState ? "remove" : "add" }}</mat-icon>
                  </div>
                </div>
              </mat-expansion-panel-header>
              <span class="mat-expansion-panel-contents">
                <li class="panel-titles">Compose</li>
                <br />
                <li class="panel-titles">Feed</li>
              </span>
            </mat-expansion-panel>
          </span>
        </mat-accordion>
      </div>
    </div>
  </div>
  <div class="contents">
    <span class="contents-upper">
      <div class="colorCodes">
        <span *ngFor="let item of colorCodes" class="colorCodes">
          <div [ngStyle]="getColorCodes(item.color)"></div>
          <div style="color: #8a8b8c">{{ item.name }}</div>
        </span>
      </div>
      <img class="me" src="../assets/me.jpg" alt="ME" />
    </span>
    <span class="posts" *ngFor="let item of post | keyvalue">
      <h3 class="key">{{ convertDate(item.key, true) }}</h3>
      <div class="break"></div>
      <div *ngFor="let item of item.value">
        <div class="post">
          <div class="channel-icon" [ngStyle]="getMyStyles(item.status)">
            <span *ngIf="item.account.channel == 'facebook'"
              ><i class="fab fa-facebook-f fa-lg"></i
            ></span>
            <span *ngIf="item.account.channel == 'twitter'"
              ><i class="fab fa-twitter fa-lg"></i
            ></span>
            <span *ngIf="item.account.channel == 'instagrambusiness'"
              ><i class="fab fa-instagram fa-lg"></i
            ></span>
          </div>
          <div class="channel-content">
            <div class="content-header">
              <div class="content-date">
                {{ convertDate(item.created_at, false) }}
              </div>
              <div class="content-upper-icons">
                <div *ngIf="item.status == 0">
                  <fa-icon [icon]="faCheck" class="upper-icon"></fa-icon>
                </div>
                <div *ngIf="item.status == 1">
                  <fa-icon [icon]="faBan" class="upper-icon"></fa-icon>
                </div>
                <div>
                  <fa-icon [icon]="faTrashAlt" class="upper-icon"></fa-icon>
                </div>
                <div>
                  <fa-icon [icon]="faEllipsisH" class="upper-icon"></fa-icon>
                </div>
              </div>
            </div>
            <div class="inner-content">
              <div class="message">
                <p>{{ item.entry.message }}</p>
              </div>
              <div>
                <img
                  src="{{ item.entry.image[0] }}"
                  onerror="this.src='../assets/no-post-image.png';"
                  class="content-image"
                />
              </div>
            </div>
            <div class="content-interaction">
              <div *ngIf="item.account.channel != 'twitter'">
                <fa-icon
                  [icon]="faThumbsUp"
                  class="content-interaction-icon"
                ></fa-icon>
              </div>
              <div *ngIf="item.account.channel == 'twitter'">
                <fa-icon
                  [icon]="faHeart"
                  class="content-interaction-icon"
                ></fa-icon>
              </div>
              <div *ngIf="item.account.channel == 'twitter'">
                <fa-icon
                  [icon]="faRetweet"
                  class="content-interaction-icon"
                ></fa-icon>
              </div>
              <div>
                <fa-icon
                  [icon]="faCommentAlt"
                  class="content-interaction-icon"
                ></fa-icon>
              </div>
              <div *ngIf="item.account.channel != 'twitter'">
                <fa-icon
                  [icon]="faShareAlt"
                  class="content-interaction-icon"
                ></fa-icon>
              </div>
              <div>
                <fa-icon
                  [icon]="faEye"
                  class="content-interaction-icon"
                ></fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </span>
  </div>
</div>
