<div class="container">
  <div class="sidebar">
    <div class="brand">
      <span class="brand-name">sociality<span class="io">.io</span></span>
    </div>
    <div class="sidebar-body">
      <div class="sidebar-tabs">
        <span *ngFor="let item of brands">
          <div class="tab">
            <span  class="tab-pointer"></span>
           <a href=""><img src={{item.img}} alt={{item.name}}></a>
          </div>
        </span>
      </div>
      <div class="sidebar-menu">
        <mat-expansion-panel class="expansion-panel" hideToggle disabled>
            <mat-expansion-panel-header class="expansion-panel-header">
              <mat-panel-title>
                <span class="iconContainer"><fa-icon [icon]="faBell"></fa-icon></span>
               <span class="panel-titles">NOTIFICATIONS</span>
              </mat-panel-title>
              <mat-panel-description class="description">
                <span class="badge">29</span>
              </mat-panel-description>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        <mat-accordion>
          <span *ngFor="let item of contents">
          <mat-expansion-panel class="expansion-panel" (opened)="item.openState = true"
          (closed)="item.openState = false" hideToggle>
            <mat-expansion-panel-header class="expansion-panel-header">
              <mat-panel-title class="panel-titles">
                <span  class="iconContainer"><fa-icon [icon]="item.icon"></fa-icon></span>
                {{item.name}}
              </mat-panel-title>
              <mat-panel-description class="description">
                <mat-icon>{{item.openState ? 'remove' : 'add'}}</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <span class="mat-expansion-panel-contents">
            <li class="panel-titles">Compose</li>
            <br>
            <li class="panel-titles">Feed</li>
          </span>
          </mat-expansion-panel>
        </span>
        </mat-accordion>
      </div>

    </div>
  </div>
  <div class="content">

  </div>
</div>
