.badge {
  border-color: #46605f;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}
.bellIcon {
  margin-right: 5px;
}
.brand {
  text-align: center;
  background-color: #31363b;
  height: 40px;
  padding-top: 10px;
}

.brand-name {
  color: black;
  font-weight: bolder;
  font-size: x-large;
}
.break {
  flex-basis: 100%;
}
.channel-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.channel-icon {
  display: flex;
  align-items: center;
  padding: 10px;
}
.colorCodes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 15px;
}
.container {
  display: flex;
}
.contents {
  background-color: #f5f7f8;
}

.content-date {
  color: #9c9c9c;
}
.content-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.content-image {
  width: 100%;
  height: auto;
}
.content-interaction {
  display: flex;
  justify-content: space-evenly;
}
.content-interaction-icon {
  color: #959595;
}

.contents-upper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.content-upper-icons {
  display: flex;
  justify-content: space-evenly;
}

.expansion-panel {
  background-color: #393d42;
}
.expansion-panel:hover .expansion-panel-header {
  background-color: #f55661;
}
.expansion-panel:hover fa-icon {
  color: white;
}
.expansion-panel:hover .mat-expansion-panel-contents:before {
  position: absolute;
  content: "";
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #f55661;
  border-bottom: 8px solid transparent;
}
.expansion-panel-header-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.fab {
  color: #ffffff;
}
fa-icon {
  color: #f55661;
}

.iconContainer {
  padding-left: 15px;
  padding-right: 5px;
}
.inner-content {
  border-color: aqua;
  padding: 20px;
}
.io {
  font-weight: lighter;
}
.key {
  padding-left: 20px;
  color: #959595;
  font-size: large;
}
li:hover {
  color: #f55661;
}
.logos {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  opacity: 0.2;
}
.mat-expansion-panel-contents {
  position: relative;
  margin-left: 12px;
}
.mat-expansion-panel-contents:before {
  content: "";
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #393d42;
  border-bottom: 8px solid transparent;
}
.me {
  width: 50px;
  height: auto;
  border-radius: 50px;
  margin-right: 70px;
}
p {
  color: #959595;
}
.panel-titles {
  color: white;
}
.post {
  display: flex;
  width: 350px;
  height: 500px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.posts {
  display: flex;
  flex-wrap: wrap;
}
.sidebar {
  display: flex;
  flex-direction: column;
}
.sidebar-body {
  display: flex;
  height: 100%;
}
.sidebar-menu {
  background-color: #393d42;
}
.sidebar-tabs {
  display: flex;
  flex-direction: column;
  background-color: #2a2f33;
}
.tab {
  position: relative;
  width: 40px;
  height: 40px;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 10px;
}
.tab:hover img {
  opacity: 1;
}

.tab:hover .tab-pointer:before {
  position: absolute;
  right: 60px;
  content: "";
  border-width: 5px;
  border-style: solid;
  border-color: #f55661;
  border-radius: 10px;
  height: 40px;
  width: 40px;
  border-left: transparent;
  border-top: transparent;
  border-bottom: transparent;
}
.upper-icon {
  color: #e1e1e1;
  margin: 5px;
}
